@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Gentium+Plus&family=Libre+Franklin&family=Nanum+Gothic&display=swap');

body {
  margin: 0;
  font-family: 'Libre Franklin','Gentium Plus', 'Arimo', 'Nanum Gothic', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
