section {
    border-bottom: 3px solid #000;
}

.container{
    align-items: center;
    background: #6A7865;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%;
}

.container img {
    width: 75%;
}